.main{
    width: 100%;
    background-color: rgba(9, 9, 9, .5);
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: white;
    padding: 64px;

    strong{
        color: white;
    }
}

.labelInput{
    display: flex;
    flex-direction: column;
    gap: 16px;
}